div {
	color: white;
	font-family: "Lucidia Console", Courier, monospace;
	
}
dt {
	text-indent: 110px;
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: "Lucidia Console", Courier, monospace;
}
dd {
	text-indent: 110px;
	font-style: italic;
	text-align: left;
	color: white;
	font-size: 15px;
	font-family: "Lucidia Console", Courier, monospace;
}
button {
	background-color: #8dcaff;
	color: white;
	padding: 15px 32px;
	font-size: 30px;
	cursor: pointer;
	font-family: "Lucidia Console", Courier, monospace;
}
.button1 {border-radius: 10px;}
.button1:hover{
	transform: scale(1.1);
}
.quote {
	text-align: center;
	font-size: 25px;
}
.title {
	text-align: center;
	font-size: 50px;
}
.info {
	font-size: 25px;
	text-indent: 95px;
}
.description {
	text-align: center;
	font-size: 13px;
	font-style: italic;
}