{% block content %}
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href = "login.css"/>	
	</head>
	
	<body>
		<div class="title">Login</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div>
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}		
		<form method="POST" action="/login">
			<div class="form-group">
				{{form.email(placeholder="Enter email address", class_="text-box") }}
			</div>		
			<div class="form-group">
				{{form.password(placeholder="Enter password", class_="text-box") }}
			</div>	
			<div class="form-group">
				{{form.remember(placeholder="Remember me")}} {{ form.remember.label }}
			</div>	
			<button class="btn"> Log in </button>
		</form>
		
	</body>
{% endblock %}