{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheets/front.css') }}"> 
{% endblock %}

{% block content %}
<div>
    <div class="title">	<img src="../static/images/logo.png" alt="logo"> </div> 

    <div class="description">In these trying times, 
    we know it's hard to interact with strangers. </div>
    <div class="description"> We're here to help</div><br><hr><br>
    <div class="quote">
        Improve your productivity.<br>
        Get a focus buddy.
    </div>
    <br><br>
    <div class="info" align="left">How It Works:</div>
    <dl>
        <dt>Sign up</dt>
        <dd>Tell us about you</dd>
        <dt>Decide on your session</dt>
        <dd>Choose a long session or a short session</dd>
        <dt>We'll find you a partner</dt>
        <dd>Introduce yourself and get studying!</dd>
        <dt>Extend your session or be on your way</dt>
        <dd>Make a new friend?</dd>
    </dl>
    <div align="center">
        <button class="button button1" onclick="window.location.href='{{url_for('auth_bp.signup')}}';">Sign up now</button>
    </div><br><br><br>
</div>
{% endblock %}